#!/bin/sh

exec /usr/libexec/mysqld --user=mysql --port={{port}} --log-error=/var/lib/mysql/{{host}}.err.log --datadir=/var/lib/mysql --socket=/var/lib/mysql/mysql.sock --basedir=/usr --pid-file=/var/lib/mysql/{{host}}.pid