mkdir -p /usr/src
cd /usr/src && curl -O http://redis.googlecode.com/files/redis-{{version}}.tar.gz && tar -zxf /usr/src/redis-{{version}}.tar.gz &&
cd /usr/src/redis-{{version}}/ && make
{{#binaries}}
cp /usr/src/redis-{{version}}/{{name}} /usr/local/bin
{{/binaries}}
